html,body { 
  height:100%;
  width:100%;
  background: url(https://www.google.com/search?q=image+of+colors&rlz=1C1CHZN_enIN915IN916&sxsrf=ALeKk00tEd1sVn7909vEtZ3-xiXSV0aMVw:1602240739943&tbm=isch&source=iu&ictx=1&fir=unUCcGu6nfpPRM%252C-xhYxMmLUUQ6EM%252C_&vet=1&usg=AI4_-kSR_A9K3RId8zvHhvmT9lI8NNPbEg&sa=X&ved=2ahUKEwi6iZjxq6fsAhWi9nMBHdk8BjUQ9QF6BAgQEFY#imgrc=unUCcGu6nfpPRM) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
