html,body { 
  height:100%;
  width:100%;
  background: url(https://www.google.com/search?q=image+of+colors&rlz=1C1CHZN_enIN915IN916&sxsrf=ALeKk02NjeennDguS8dEDW80WWKSYmwVIA:1602241079175&tbm=isch&source=iu&ictx=1&fir=zgc75jNHcwO0pM%252CK1gBzhXbfeNDrM%252C_&vet=1&usg=AI4_-kR5TjFp-_5nHv3MD4HiUpfQhRT0fg&sa=X&ved=2ahUKEwjKhvmSrafsAhVlyjgGHTXKCrsQ9QF6BAgOEFQ#imgrc=zgc75jNHcwO0pM) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
