html,body { 
  height:100%;
  width:100%;
  background: url(https://www.google.com/search?q=image+of+computer&rlz=1C1CHZN_enIN915IN916&sxsrf=ALeKk02cNRdADTYRHiVZq4wq_NuW77Id4w:1602238933756&tbm=isch&source=iu&ictx=1&fir=2TaB_nZDWOx3ZM%252CMoS3etEZghjX_M%252C_&vet=1&usg=AI4_-kT5UQ2-k3fgyM0TW_9Lpx_qP030sw&sa=X&ved=2ahUKEwiymPeTpafsAhVjmuYKHZykA8sQ9QF6BAgREFg#imgrc=2TaB_nZDWOx3ZM) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
